<a href="/items/<%= item.id %> " class="shadow-md rounded-lg hover:shadow-lg hover:-translate-y-1 transition-all duration-200">
  <img class="w-full object-cover h-48 rounded" src="<%= item.imageUrl %>" alt="gambar">
  <div class="px-2 py-4">
    <p class="text-sm"><%= item.name %> </p>
    <p class="font-semibold"><%= item.formatPrice() %> </p>
  </div>
</a>