<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Add Balance</title>
</head>
<body>
    <h3>Add your balance Pak <%=balance.User.name  %> </h3><br>
    <form action="/balances/addBalance/<%= balance.UserId %>" method="post">
        <label for="amount">amount:</label><br>
        <input type="number" name="amount" id="amount">
        <br><br>

        <button type="submit">submit</button>
    </form>
</body>
</html>